.toggle-button-selected{
  background: none;
  border: none;
  cursor: pointer;
  padding-bottom: 10px;
  border-bottom: 1px solid #292929;
}

.toggle-button{
    background: none;
    border: none;
    cursor: pointer;
    padding-bottom: 10px;
  }

  .toggle-button:hover {
    opacity: 0.8;
  }

  .toggle-container{
    display: flex;
    flex-direction: column;
    align-self:center;
    border-bottom: 0.25px solid #4e4e4e;
    max-width: 50%;
}
