.card{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #0B0803;;
    box-shadow: 0 2px 4px 0 #eaeaea;
    height: fit-content;
    position: relative;
    text-decoration: none;
    width: 600px;
    box-sizing: border-box;
    overflow: hidden;
    flex: 0 1 236px;
    margin: 8px 7px;
    transition: 0.3s;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.thumbnail-container{
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 100%;
    box-sizing: border-box;
    max-width: 250px;
}

.card-thumbnail{
    object-fit: contain;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 11rem;
    width: 100%;
}
