/* TODO Add site wide styles */

.page-not-found {
    display: flex;
    justify-content: center;

}

.page-not-found h1 {
    font-size: 50px;
    margin-left: 200px;
}

body {
    font-family: Nunito Sans;
    line-height: 1.5;

    background-color: #F6F6F6;
    color: #0b0803;
    margin-bottom: 2.5rem;
}

.global-button{
    font-size: 15px;
    border-radius: 4px;
    background-color: white;
    border: none;
    transition-duration: 0.4s;

}

.global-button:hover{
    opacity: 0.4;
    color: #F6F6F6;
    cursor: pointer;
}
